@import 'colors';
// @import 'importedFonts';
*{
  margin:0;
  // Removing all transitions results in better browser performance
  // transition: none !important;
}
body{
  // background-color: rgb(255, 255, 255);
  // background-image: linear-gradient(rgb(255, 255, 255), rgba(0,0,0,0.05));
}
.main-layout{
  // border:dotted purple 4pt;
  display:flex; 
  flex-shrink: inherit;
  margin-top: 10vh;
  transition: 0.35s;
  animation: slidein 1s;
  justify-content: space-evenly;
  width:auto;
  /* margin:0 auto; */
}


.display-and-code-block{
  display:block;
}


// @media(){
  
// }
@keyframes slidein{
  0%{
    opacity:0;
    /* margin-top: 15px; */
  }
  100%{
    opacity: 1;
    /* margin-top: 0; */
  }
}

@media(max-width:900px){
  .main-layout{
    margin-top: 15vh;
    // justify-content: space-between;

  }
}
@media(max-width:750px){
  .main-layout{
    display:block;
    // justify-content: space-between;

  }
}