.header{
  background-color: black;
  width:100vw;
  height:3vh;
  // position:fixed;
  div{
    height:100%;
    width:20%;
    margin:0 auto;
    padding-left: 13%;
    display:flex;
    span{
      padding-top:1%;
      color:rgba(255,255,255,0.7);
      font-size:1.5vh;
      font-family: 'Segoe UI';
      font-weight: 500;
      min-height: 5vh;
      max-height: 5vh;
      width:100%;
    }
    .github-link{
      margin-left: 3%;
      .fa-github{
        color:white;
      }
    }
  }
}