.live-code-container{
  height:500px;
  width:300px;
  /* border: solid black 1pt; */
  transition: 0.3s;
  margin-left: 40px;
  margin-right: 40px;

}
#live-code-title{
  font-family: helvetica;
  font-weight: 700;
  margin-left: 25px;
  padding-bottom: 10px;
  color: rgba(0,0,0,0.7);

}
#live-code{
  height: 400px;
  width: 250px;
  overflow: auto;
  /* border: double white 5pt; */
  background-color: rgba(0,0,0,0.9);
  margin-left: 25px;
  border-radius: 5px;
}
.code{
  font-family: helvetica;
  font-size: 12pt;
  font-weight: 500;
  color:rgba(255, 243, 77, 0.7);
  padding:10px;
  padding-right: 15px;
  padding-left: 15px;
}