.live-code-container{
  height:70vh;
  width:20em;
  /* border: solid black 1pt; */
  transition: 0.3s;
  margin-left: 3vw;
  margin-right: 40px;
  // border:dashed gold 4pt;

}

#live-code-title{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  font-size: 14pt;
  color: rgba(0,0,0,0.6);
  margin-left: 25px;
  padding-bottom: 10px;

}
#live-code-caption{
  font-family: helvetica;
  font-weight: 700;
  margin-left: 28px;
  padding-bottom: 10px;
  color: rgba(0,0,0,0.7);
  
}
#live-code{
  height: 60vh;
  width: 250px;
  overflow: auto;
  /* border: double white 5pt; */
  background-color: rgba(0,0,0,0.9);
  margin-left: 25px;
  border-radius: 10px;
  box-shadow: 5px 5px 8px rgba(0,0,0,0.25);
  -ms-overflow-style: none;
}
#live-code::-webkit-scrollbar{
  width:0;
  height: 0.2rem;
  background-color:transparent;
}
#live-code::-webkit-scrollbar-thumb{
  background-color:rgb(58, 56, 56);
  border-radius:10px;
}
#live-code::-webkit-scrollbar-thumb:hover{
  background-color:rgb(114, 111, 111);
}
#live-code::-webkit-scrollbar-thumb:active{
  background-color:rgb(80, 77, 77);
  border:1px solid #333333;
}
.code{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 9.5pt;
  font-weight: 500;
  color:rgba(255, 255, 255, 0.8);
  padding:10px;
  padding-right: 15px;
  padding-left: 15px;
}

  //-----------------
// Media Queries
//-----------------
@media(max-width:1300px){
  .live-code-container{
    margin-left: 0;
  }
}
@media(max-width:1010px){
  .live-code-container{
    height:30vh;
    width:20em;

  }

  #live-code{
    height: 30vh;
    width: 250px;
    overflow: auto;
    /* border: double white 5pt; */
    background-color: rgba(0,0,0,0.9);
    margin-left: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 8px rgba(0,0,0,0.25);
  }
}

@media(max-width:750px){
  #live-code-title{
    margin-top:4vh;
    margin-left: auto;
    margin-right: auto;
  }
  #live-code{
    width:18em;
    margin:1.5vh auto;
  }

  #live-code-caption{
    font-family: helvetica;
    font-weight: 700;
    margin: 0;
    text-align: center;
    padding-bottom: 10px;
    color: rgba(0,0,0,0.7);
    
  }

}
// @media(max-width:375px){
// .extended-sidenavbar-menu{
//   width:17vw;
// }
// }