.extended-sidenavbar-menu{
    // margin-top: 3vh;
    overflow-y: scroll;
    transition:0.6s;
    height:97vh;
    width:100%;
    // padding-left: 2vw;
    border-left: solid rgba(255,255,255, 0.1) 0.5pt ;
    padding-right: 0.5vw;
    padding-left: 1vw;
    // border: solid palegoldenrod 2pt;
    // background-color: #030303;
    // animation:populate 1.5s linear;
    -ms-overflow-style: none;

    h2{
        color:white;
        font-size: 3vh;
        font-family: 'Segoe UI', sans-serif;
        font-weight: 300;
        text-align: center;
        // border-bottom: solid rgba(255,255,255, 0.6) 0.5pt ;
        margin-top: 5vh;
        padding-bottom: 2vh;
        animation: populate 0.4s linear ;
    }
    .list-of-items{
        height:80vh;
        // margin-left: -50vw;
        margin-top: 4.5vh;
        animation:populate 0.3s linear;


    }

    
}

.extended-sidenavbar-menu::-webkit-scrollbar{
    width:0.2rem;
    background-color:transparent;
    padding-left: 2em;
    display: none;
    animation:populate 3s linear;    
  }
  .extended-sidenavbar-menu::-webkit-scrollbar-thumb{
    background-color:rgb(58, 56, 56);
    border-radius:10px;
  }
  .extended-sidenavbar-menu::-webkit-scrollbar-thumb:hover{
    background-color:rgb(114, 111, 111);
  }
  .extended-sidenavbar-menu::-webkit-scrollbar-thumb:active{
    background-color:rgb(80, 77, 77);
    // border:1px solid #333333;
  }

  @keyframes populate {
    0%{
      opacity:0;
      margin-left: -2vw;
    }
    100%{
      opacity:1;
      margin-left: 0;
    }
  }

  @keyframes comeFromLeft {
    0%{
    //   opacity:0;
      padding-left: -100;
    }
    100%{
    //   opacity:1;
      padding-left: 0;
    }
  }

  //-----------------
// Media Queries
//-----------------
@media(max-width:1300px){
  .extended-sidenavbar-menu{
    width:16vw;
    
  }
}
// @media(max-width:900px){
// .extended-sidenavbar-menu{
//   width:17vw;
// }
// }
// @media(max-width:600px){
// .extended-sidenavbar-menu{
//   width:17vw;
// }
// }
// @media(max-width:375px){
// .extended-sidenavbar-menu{
//   width:17vw;
// }
// }