
.side-navbar{
  width:5em;
  min-width:6vw;
  max-width: 6vw;
  height:100vh;
  position:fixed;
  background-color: #181818;
  // display:grid;
  // grid-template-rows: 20% 13% 13% 13% 13% 13% 13%;
  hr{
    width:3em;
    height:0.2vh;
    min-width:6vw;
    max-width: 6vw;
    border:none;
    // border-top: solid 0.1vh rgba(255,255,255,0.2);
    margin: 0 auto;
  }
  .nav-logo-container{
    height:15vh;
    min-height: 15vh;
    max-height:15vh;
    padding-top:3vh;
  }

    .nav-item {
      // border-bottom:solid 0.50pt rgba(255,255,255,0.5);
      // padding-bottom: 2em;
      
      .nav-item-content{
        min-height: 6vh;
        max-height:6vh;
        width:auto;
        display:flex;
        flex-direction: column;
        padding-top: 2vh;

        svg{
          stroke: rgba(255,255,255,0.6);
          width:2em;
          height:2em;
          min-height: 3vh;
          max-height: 3vh;
          min-width: 3vh;
          max-width: 3vh;
          margin: 0 auto;
          text-align: center;
        }

      

        .nav-item-text{
          color:rgba(255,255,255,0.6);;
          font-family: "Segoe UI";
          font-weight: 100;
          font-size: 1.7vh;
          text-align: center;
          padding-left: 0.5em;
          padding-right: 0.5em;
          min-height: 1.7vh;
          max-height: 1.7vh;
          padding-top: 1.5vh;

        }
      }
    }  
    .nav-item:hover{
      cursor: pointer;
      svg{
        color:white;
        stroke: white;
      }
      .nav-item-text{
        color: white;
        transition: 0.2;
      } 
 
     
    }
}

.logo{
  margin: 0 auto ;
  width:100%;  
  min-width: 100%;
  max-width: 100%;
  // height:16vh;
  display:flex;
  flex-direction: column;

  
  .logo-text{
    width:7vw;
    // height:4vh;
    // min-height: 4vh;
    // max-height: 4vh;
    padding-bottom:10% ;
    min-width: 7vh;
    max-width: 7vh;
    margin: 0 auto ;
    opacity: 0;
    height:0;
    transition:0.4s;


  }
  
  .logo-image{
    margin: 0 auto ;
    width:7vw;
    // height:4vh;
    // min-height: 4vh;
    // max-height: 4vh;
    // margin-top: 10px;
    // border:solid red 1pt;
    min-width: 6vh;
    max-width: 6vh;
    animation: rotatelogo 1.2s;
  }
}

.logo:hover{
  transition:0.3s;

  .logo-text{
    opacity:1;
  }
}
#i-folder #i-transform {
  fill: white;
}

@keyframes rotatelogo{
  0%{
    transform: rotate(360deg);
  }
  100%{
    transform: rotate(0deg);
  }
}
