.entire-slider-container{
  overflow: auto;
  height:500px;
  width:300px;
  padding-top: 25px;
}
.corner-caption{
  font-family: helvetica;
  color: rgba(0,0,0,0.6);
  /* font-weight: 300; */
}
.shape-caption{
  display:flex;
  font-family: helvetica;
  color:rgba(190, 95, 95, 0.9);
  padding-bottom: 10px;

}
.fa-minus-circle{
  font-size: 12pt;
  color:rgba(0,0,0,0.5);
  padding-top: 7px; 
  margin-left: 140px;  
}
.fa-minus-circle:hover{
  color:rgba(0,0,0,0.9);
  cursor: pointer;

}
.slider-labels{
  display:flex;
  justify-content: space-around;
  font-family: helvetica;

}
.slider-labels p{
  font-weight: 100;
  color:rgba(0,0,0,0.5);
}
.a-single-slider-container{
  border:solid rgba(0,0,0,0.4) 0.5pt;
  padding:15px;
  border-radius: 5px;
  margin-top: 10px;
}
.verticies input{
  width:115px;
margin-left: 10px;;
}