.bg-logo{
  width:60%;
  opacity: 0.4;
  animation: appear 0.4 linear;
}
#empty-message{
  font-family: helvetica;
  margin-left:30%;
  margin-top:27%;
}
.workspace-container{
  border-radius: 2px;
  margin-left: 4vw;
  margin-top: 7vh;
  // padding-left:20px;
  // padding-right:20px;
  height:60vh;
  transition: 0.3;
  width:30vw;
  // background-color: grey;
  border:solid rgba(0,0,0,0.5) 1pt;

}
#workspace{
  transition:0.3s;
  background-color: white;
  // margin-top: 15px;
  border: dashed rgba(0,0,0,0.4) 1pt;
  border-radius: 2px;  
  height: 50vh;
  // margin-left: 20px;

  
}
//------------------------------------
// for smooth movement on the canvas
//------------------------------------
path, 
circle, 
rect, 
ellipse, 
text, 
line {
  transition: 0.3s;
}
//------------------------------------
.empty-workspace{
  background-color: rgba(0,0,0,0.1);
  transition:5s;
}
.size-input{
  margin-left: 10px;
  padding-left: 10px;
  /* border-radius: 3px; */
  background-color: transparent;
  outline: none;
  width:30px;
  border:none;
  font-family: helvetica;
  border-bottom:solid rgba(0,0,0,0.5) 1pt;;
}
.size-input1{
  margin-left: 45px; 
}
.size-input2{
  margin-left: 120px;
}
label{
  font-family: helvetica;
}

 //-----------------
// Media Queries
//-----------------
@media(max-width:1300px){
  .workspace-container{
    margin-left: 0;
  }
}
@media(max-width:1200px){
  .workspace-container{
    margin-left: 0;
  }
}
@media(max-width:1010px){
.extended-sidenavbar-menu{
  width:17vw;
}
.workspace-container{
  height:30vh;


}
#workspace{
  height: 30vh;
  width:auto;

  
}
}


@media(max-width:900px){
  .workspace-container{
    width:40vw;
  }
}
@media(max-width:750px){
  .workspace-container{
    width:70vw;
  }
}
// @media(max-width:375px){
// .extended-sidenavbar-menu{
//   width:17vw;
// }
// }